<div class="container-fuild">
    <header style="background-color: rgb(228, 184, 184);" class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom p-2">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img src="../../../assets/adidas-logo-107B082DA0-seeklogo.com.png"  width="40" height="32" class="me-2" alt="">
       
        <div >
          <h5 style="padding-left: 11px; padding-top: 8px;">{{userName}}</h5>
        </div>
      </a>
      
  
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none btn" (click)="logout()" >Logout</a>
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="adminhome">Home</a>
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="add-account">Account</a>
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="add-category">Category</a>
        <a class="me-3 py-2 text-dark text-decoration-none" routerLink="add-product">Product</a>

  
        
      </nav>
    </header>
  
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">Manager Shop</h1>
      <p class="fs-5 text-muted">Try to make a name and protect and develop it.</p>
    </div>