<div class="container">
  
    <form [formGroup] = "inforForm" class="w-50" >
      
     <div class="form-group">
        <label for="usr">name:</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
      <div class="form-group">
        <label for="usr">price:</label>
        <input type="text" class="form-control" id="emial" formControlName="price">

      </div>
      <div class="form-group">
        <label for="usr">sale_price:</label>
        <input type="text" class="form-control" id="password" formControlName="sale_price">
      </div>
      <div class="form-group">
        <label for="usr">image:</label>
        <input type="text" class="form-control" id="role" formControlName="image">
      </div>
      <div class="form-group">
        <label for="usr">category_id:</label>
        <input type="text" class="form-control" id="role" formControlName="category_id">
      </div><div class="form-group">
        <label for="usr">status:</label>
        <input type="text" class="form-control" id="role" formControlName="status">
      </div><div class="form-group">
        <label for="usr">description:</label>
        <input type="text" class="form-control" id="role" formControlName="description">
      </div>
      <br>
  
      <button (click)="add()"  type="submit" class="btn btn-danger">Add new</button>
    </form><br>
  
    <table class="table " >
      <thead>
        <tr>
          
          <th scope="col">Stt</th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Sale(%)</th>
          <th scope="col">Image</th>
          <th scope="col">Cate ID</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Created at</th>
        <th> <input type="text" placeholder="Searh" [(ngModel)]="name"> </th>





        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of listProduct | filter : name; let i = index ;" >
          <th scope="row">{{i +1}}</th>
          <td>{{item.id}}</td>
          <td>{{item.name}}</td>
          <td>{{item.price}}</td>
          <td>{{item.sale_price}}</td>
          <td>{{item.image}}</td>
          <td>{{item.category_id}}</td>
          <td>{{item.description}}</td>
          <td>{{item.status}}</td>
          <td>{{item.created_at}}</td>
          <button (click)="deleteproduct(item.id)">delete</button>
          <a style="color: rgb(206, 106, 106);" routerLink='/update-product/{{item.id}}' >Update</a>
          
          
          
        </tr>
       
      </tbody>
  
      
  
    </table>
    
  </div>
  
  
  
  