<h1>Update Account</h1>
<div class="container">
<form [formGroup] = "inforForm" class="w-50" >
      
    <div class="form-group">
       <label for="usr">id:</label>
       <input type="text" class="form-control" id="id" formControlName="id" readonly>
     </div>
     <div class="form-group">
        <label for="usr">name:</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
     <div class="form-group">
       <label for="usr">email:</label>
       <input type="text" class="form-control" id="emial" formControlName="email">

     </div>
     <div class="form-group">
       <label for="usr">password:</label>
       <input type="text" class="form-control" id="password" formControlName="password">
     </div>
     <div class="form-group">
       <label for="usr">role:</label>
       <input type="text" class="form-control" id="role" formControlName="role">
     </div>
     <br>
 
     <button (click)="update()"  type="submit" class="btn btn-danger">Update</button>
   </form>
</div>